body {
    background: paleturquoise;
}
#screen {
    display: flex;
    line-height: 2em;
    font-size: 60px;
    border: 1px solid black;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    grid-column: 1/5;
    grid-row:1/2
}
.solution {
    text-align: right;
}
.keys {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    padding: 10px;
    border: 1px solid black;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}
.keys button {
    box-sizing: border-box;
    /* border: 1px solid black; */
    padding: 10px;
    height: 100px;
    width: 100px;
    text-align: center;
    text-justify: center;
    border-radius: 50%;
    font-size: 25px;
    border: none;
    margin: 5px 5px;
}
.keys button:hover {
    background: navy;
    color: white;
    transition: 500ms;
}
.keys button:not(:hover){
    transition: 500ms;
}
#enter {
    display: block;
    padding: 5px 30px;
    font-size: 30px;
    margin: 10px auto;
}